# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# WebStorm directory
.idea/
.idea.*/

# Visual Studio 2015 cache/options directory
.vs/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user